# change this files name to .env
# install dotenv


# Environment Configurations (Exported separately)
ENVIRONMENT=dev 

# Django Settings
SECRET_KEY=your-hard-secret-key

# Database setings (Add your database details)
DB_HOST=
DB_PORT=
DB_NAME=
DB_USER=
DB_PASSWORD=

# allowed hosts in the app (split by '/')
HOSTS=192.168.0.0/0.0.0.0

# Other Application Configurations (empty is false)
DEBUG=True
PRINT_ENVIRONMENT_VARIABLES=True